{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="static/css/hote_style.css">
</head>
<body>
<!-- <div class="slideshow">
  <div class="slide">
    <img src="banasura-sagar-dam_wyd.jpg" alt="Slide 1">
  </div>
  <div class="slide">
    <img src="kuruva-dweep_wyd.jpg" alt="Slide 2">
  </div>
  <div class="slide">
    <img src="image3.jpg" alt="Slide 3">
  </div>
</div> -->
<div class="slideshow">
  <input type="radio" name="slide" id="slide1" checked>
  <input type="radio" name="slide" id="slide2">
  <input type="radio" name="slide" id="slide3">
  
  <div class="slides">
    <div class="slide" id="slide1-content">
      <!-- Content for Slide 1 -->
      <img src="banasura-sagar-dam_wyd.jpg" alt="Slide 1">
    </div>
    <div class="slide" id="slide2-content">
      <!-- Content for Slide 2 -->
      <img src="kuruva-dweep_wyd.jpg" alt="Slide 2">
    </div>
    <div class="slide" id="slide3-content">
      <!-- Content for Slide 3 -->
      <img src="image3.jpg" alt="Slide 3">
    </div>
  </div>
  
  <div class="navigation">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
  </div>
</div>

</body>
</html>